/* See reset.css for page resets */

:root {
	/* Colors */

	/* Primary */
	--light-red: hsl(0, 100%, 67%);
	--orangey-yellow: hsl(39, 100%, 56%);
	--green-teal: hsl(166, 100%, 37%);
	--cobalt-blue: hsl(234, 85%, 45%);

	/* Gradients */

	/* Background */
	--light-slate-blue: hsl(252, 100%, 67%);
	--light-royal-blue: hsl(241, 81%, 54%);

	/* Circle */
	--violet-blue: hsla(256, 72%, 46%, 1);
	--persian-blue: hsla(241, 72%, 46%, 0);

	/* Neutral */
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	--light-lavender: hsl(241, 100%, 89%);
	--dark-gray-blue: hsl(224, 30%, 27%);
}

body {
	font-family: "Hanken Grotesk", sans-serif;
	font-weight: 400;
	background-color: #f5f3f0;
	padding-block-start: 2rem;
}

.main-container {
	max-width: 375px;
	margin-inline: auto;
	background-color: #fff;
}

.score-window {
	background-image: linear-gradient(
		var(--light-slate-blue),
		var(--light-royal-blue)
	);
	text-align: center;
	padding: 1rem 2rem 2rem 2rem;
	color: var(--white);
	border-radius: 0 0 2rem 2rem;
}

.score-window__result {
	font-size: 1.2rem;
	color: var(--light-lavender);
}

.score-window__circle {
	background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
	margin-inline: auto;
	padding: 1rem;
	margin-block: 2rem;
	border-radius: 50%;
	max-width: 135px;
	aspect-ratio: 1/1;
}

.score-window__user-score {
	font-size: 3rem;
	font-weight: 700;
	margin: 0;
}

.score-window__maximum-score {
	font-size: 1rem;
	color: var(--light-lavender);
	margin: 0;
}

.score-window__result-text h3 {
	font-size: 1.75rem;
}

.score-window__result-text p {
	color: var(--light-lavender);
}

/* ---------- Summary Window ---------- */

.summary-window {
	padding: 1rem 2rem 3rem 2rem;
}

.summary-window h3 {
	margin-block-end: 1.5rem;
}

.score {
	display: flex;
	padding: 1rem;
	margin-block: 1.25rem;
	border-radius: 10px;
}

.score__out-of p {
	display: inline;
}

.score-data p:first-of-type {
	font-weight: 700;
}

.score:nth-child(1) {
	background-color: hsla(0, 100%, 67%, 0.1);
}

.score:nth-child(1) .score__reaction {
	color: var(--light-red);
	font-weight: 700;
}

.score:nth-child(2) {
	background-color: hsla(39, 100%, 56%, 0.1);
}

.score:nth-child(2) .score__reaction {
	color: var(--orangey-yellow);
	font-weight: 700;
}

.score:nth-child(3) {
	background-color: hsla(166, 100%, 37%, 0.1);
}

.score:nth-child(3) .score__reaction {
	color: var(--green-teal);
	font-weight: 700;
}

.score:nth-child(4) {
	background-color: hsla(234, 85%, 45%, 0.1);
}

.score:nth-child(4) .score__reaction {
	color: var(--cobalt-blue);
	font-weight: 700;
}

.score__reaction {
	margin-inline-start: 1rem;
}

.score__out-of {
	margin-inline-start: auto;
}

.summary-window .score p {
	margin: 0;
}

.summary-window__button {
	cursor: pointer;
	color: var(--white);
	background-color: var(--dark-gray-blue);
	min-width: 100%;
	padding-block: 1rem;
	border-radius: 50px;
	border: none;
}

.summary-window__button:hover {
	background-image: linear-gradient(
		var(--light-slate-blue),
		var(--light-royal-blue)
	);
}

/* Desktop Media Queries */

@media screen and (width > 700px) {
	.main-container {
		display: flex;
		max-width: 700px;
	}

	.main-container > * {
		flex: 1;
	}

	.score-window {
		border-radius: 2rem;
	}

	.score-window__circle {
		background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
		margin-inline: auto;
		padding: 1rem;
		margin-block: 2rem;
		border-radius: 50%;
		max-width: 200px;
		aspect-ratio: 1/1;
	}

	.score-window__user-score {
		font-size: 5rem;
		font-weight: 700;
		margin: 0;
	}

	.score-window__result-text p {
		max-width: 25ch;
		margin-inline: auto;
	}
}
