:root {
	/* COLOURS */

	/* PRIMARY */
	--nutmeg: hsl(14, 45%, 36%);
	--dark-raspberry: hsl(332, 51%, 32%);

	/* NEUTRALS */
	--white: hsl(0, 0%, 100%);
	--rose-white: hsl(330, 100%, 98%);
	--eggshell: hsl(30, 54%, 90%);
	--light-grey: hsl(30, 18%, 87%);
	--wenge-brown: hsl(30, 10%, 34%);
	--dark-charcoal: hsl(24, 5%, 18%);
}

/* GLOBAL STYLES */

body {
	color: var(--dark-charcoal);
	font-family: "Outfit", "Sans-serif";
	background-color: var(--eggshell);
}

table {
	width: 100%;
	margin-block-start: 1rem;
	/* Important - removes tiny gap between td border bottom */
	border-collapse: collapse;
}

td {
	border-bottom: 1px solid var(--light-grey);
	padding-block: 1rem;
}

img {
	border-radius: 15px;
	margin: 2.5rem;
}

hr {
	border: 1px solid var(--light-grey);
}

h1,
h2 {
	font-family: "Young Serif", "Serif";
	font-weight: 200;
}

h2,
h3 {
	margin-block-end: 1rem;
	color: var(--dark-raspberry);
}

ul li,
ol li {
	margin-block-end: 0.5rem;
	padding-inline-start: 20px;
}

/* Move the lists closer to the start of the headings */
ul,
ol {
	margin-inline-start: -10px;
}

ol li::marker,
ul li::marker {
	color: var(--dark-raspberry);
	font-weight: 600;
}

/* Bold out the first part of the list copy*/
span {
	font-weight: 800;
}

/* COMPOSITION */

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 70ch;
	margin-inline: auto;
	margin-block: 5rem;
	background-color: var(--white);
	border-radius: 15px;
	/* Important - needed to resolve collapsing top margin on image */
	padding-block: 2.5rem;
}

.wrapper > * {
	margin-block: 0;
}

.wrapper > * + * {
	margin-block-start: var(--space, 1.25rem);
}

/* UTILITIES */

.bold {
	color: var(--dark-raspberry);
	font-weight: 800;
}

/* BLOCKS */

.preparation {
	padding: 2rem;
	background-color: var(--rose-white);
	border-radius: 15px;
}

section,
hr {
	margin-inline: 2.5rem;
}

/* EXCEPTIONS */

td:first-child {
	padding-inline-start: 2rem;
}

tr:last-child td {
	border-bottom: none;
}

/* MEDIA QUERIES */

@media (width <= 768px) {
	.wrapper {
		margin: 0;
		padding: 0;
		border-radius: 0;
	}

	img {
		margin: 0;
		border-radius: 0;
	}
}
